body{
	margin: 0;
	padding: 0;
	background-color: #003a3e;
}
.head{
	width: 1349px;
	margin: auto;
	height: 100px;
	background-color: white;
}
.cont-logo{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.cont-nav{
	float: right;
	margin-top: 40px;
	margin-right: 20px;
}
.cont-nav a{
	font-size: 19px;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
	color: #565656;
}
.cont-nav a:hover{
	color: #000;
}
.cont-nav p{
	margin: auto;
	padding: 0;
	color: white;
}
span{
	color: #565656;
	margin: auto;
	padding: 0;
}

.header{
	width: 1349px;
	height: 535px;
	margin: auto;
	background-image: url(img/header-logo.jpg);
	background-position: center;
	background-size: 100%;

}
#header-slider{
	float: right;
}
#phone{
	float: left;
	margin-top: 40px;
	margin-left: 190px;
}
#planet{

	margin-top: 150px;
	margin-left: -50px;
}
.phone-log{

}
.h-text{
	margin-left: -50px;
	
	
}
.h-text h1{
	color: #fff;
	font-family: "Myriad Pro";
	text-transform: uppercase;
	margin-top: 50px;
	padding: 0;
	margin: 50px 0 0 0;
}
.h-text h3{
	color: #fff;
	font-size: 12px;
	font-family: "Myriad Pro";
	padding: 0;
	margin: 0;
}
.button{
	width: 160px;
	background-color: #54d3c3;
	height: 40px;
	float: left;
	margin-top: 35px;
}
.button img{
	float: left;
	margin-top: -8px;
	background-color: #259d8e;
}
.button img:hover{
	background-color: #143934;
}
.button a {
	float: left;
	color: #fff;
	font: normal 20px "Myriad Pro";
	margin: 0;
	padding: 0;
	padding-right: 20px;
	padding-top: 8px;
	text-decoration: none;
}
.button:hover{
	background-color: #45efda;
}


.about{
	width: 1349px;
	margin: 0;
	margin: auto;
	padding: 0;
	background-color: #fff;

}
.about h1{
	margin: auto;
	margin-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	color: #636363;
	font-family: 'Open Sans', sans-serif;
	display: block;
}
.about h6{
	margin: auto;
	padding: 20px 0 40px 0;
	width: 900px;
	text-align: center;
	color: #9f9f9f;
	font-family: 'Open Sans', sans-serif;
	display: block;

}
.about-img{
	display: block;
	margin: auto;
	margin-bottom: 125px;
	
}

.nav-about{
	display: block;
	width: 1349px;
	height: 170px;
	background-image: url(img/nav-about.jpg);
	background-size: 100%;
	margin-bottom: 40px;
}
.img1{
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 70px;
	margin-top: 35px;	
}
.img2{
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 150px;
	margin-top: 35px;	
}

.img3{
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 160px;
	margin-top: 35px;	
}
.img4{
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 150px;
	margin-top: 35px;	
}
.img5{
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 160px;
	margin-top: 35px;
}
.img6{
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 160px;
	margin-top: 35px;
}
.cont{
	margin: 0;
	padding: 0;
}
.note{
	margin: 0;
	margin-left: 170px;
	margin-top: 100px;
}
.button-about{
	width: 160px;
	background-color: #06ccb3;
	float: right;
	margin-right: 460px;
	margin-top: 255px;
	display: block;
}
.button-about img{
	float: left;
	margin-top: -10px;
	background-color: #3edac6;
}
.button-about img:hover{
	background-color: #143934;
}
.button-about a {
	float: left;
	color: #fff;
	font: 18px "Myriad Pro";
	margin: 0;
	padding: 0;
	padding-right: 25px;
	padding-top: 10px;
	text-decoration: none;
}
.button-about:hover{
	background-color: #45efda;
}
.sale{
	margin: 0;
	margin-left: 170px;
	margin-top: 140px;
	float: left;
}
.log-img{
	margin: 0;
	margin-left: 200px;
	margin-top: 60px;
	margin-bottom: -4px;
}

.footer-txt{
	margin: 0;
	border-top: 1px solid #9f9f9f;
}
.footer-txt h3{
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	display: block;
	color: #9f9f9f;
	font: normal 16px 'Open Sans', sans-serif;
}

































