*{
    outline:none;
}
#formahead {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.842);
    width: 100%;
    height: 100%;
    z-index: 999999999;
}
form label{
    text-align: left;
    color: cornsilk;
}
form{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    display: inline-block;
    position: fixed;
    width: 450px;
    height: 600px;
    background-color: rgba(11, 73, 97, 0.651);
    /* background-image: url(img/3.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin-right: 200px;
    left: 40%;
    top: 20%;
    z-index: 9999999999;
}
.formh2 {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    margin-bottom: 25px;
    margin-top: 45px;
    color: rgb(255, 255, 255, 255);
    
}
.spanZ {
    color: rgb(255, 0, 0);
}
#close{
    display: inline-block;
	margin-top: 120px;
    margin-right: -600px;
    color: #fff;
    font-size: 48px;
    z-index: 99999999999;
    cursor: pointer;
    outline:none;
}
#close:hover {
    color: brown;
}
p.input {
    
}
input{
    width: 330px;
    height: 35px;
    border: none;
    display: inline-block;
    text-align: left;
    border-radius: 25px;
    outline:none;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.788);
    /* margin-bottom: 20px; */
}
/* input:invalid, 
textarea:invalid {
    border: 2px solid red;
  }
input:valid, 
textarea:valid {
    border: 2px solid black;
  } */
textarea{
    border: none;
    border-radius: 10px;
    width: 330px;
    height: 150px;
    padding: 10px;
    outline:none;
    color: rgba(0, 0, 0, 0.788);
    resize: none;
}

.formButton{
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(223, 41, 41);
    outline:none;
    z-index: 999999999990;
}
.formButton:hover {
    background-color: rgb(66, 4, 4);
}

body{
     margin: 0;
     padding: 0;
     background-image: url(img/bg-cont.png);
     background-repeat: repeat;
     text-align: center;
 }
/* NAV */
/* NAV */
/* NAV */
#menu{
    z-index: 99999;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    background-color: #252222;
    /*margin-top: 10px;   TEST*/
    text-align: center;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,5);
 
}
#menu.default {
    width:100%;
    position: absolute;
}
#menu.fixed {
    position:fixed;
    top:0; 
    left:0;
    width:100%;
    opacity: 0.9;
}
#menu>a>h1{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px
}
#menu>.nav-link>a{
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding-top: 50px;
    padding-bottom: 2px;
}
#menu>.nav-link>a:hover{
    color: #65ba99;
    border-bottom: 2px solid #65ba99; 
    padding-bottom: 10px;
    background-color: #353535;
}
.nav-link{
    display: inline-block;
    margin-left: 33%;
    margin-top: 0;
}
#inst{
    padding: 0;
    position: absolute;
    display: inline;
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
}
#inst>a:hover{
    border: 2px solid #65ba99;
    border-radius: 50%;
    position: absolute;
}

#inst>a{
    position: absolute;
    display: inline-block;
    border: 2px solid #000;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    color: #fff;
    background-image: url(img/inst.png);
    background-repeat: no-repeat;
    border-radius: 50%;
}


/* HEAD */
/* HEAD */
/* HEAD */
#container{
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#head{
    background-image: url(img/photo-head1.jpg);
    background-color: #676767;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
    height: 500px;
    border: none;
    margin: 0;
    padding: 0;
}
.img-div{
    padding-top: 150px;
    padding-bottom: 50px;
    margin-right: 250px;
    text-align: center;
}
/* WORKS */
/* WORKS */
/* WORKS */

.image:hover{
    background-color: #65ba99;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
#works{
    width: 100%;
    display: inline-block;
    height: auto;
    background-color: #65ba99;
    /*margin-top: 10px;   TEST*/
    text-align: center;
    background-image: url(img/bg-cont-b.png);
    background-repeat: repeat;
    box-shadow: 0 0 10px rgba(0,0,0,5);
}
#works>h1{
    margin: 0;
    padding: 0;
    margin-top: 60px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
}
#works>h3{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
}
#works>.cont-works{
    /*background-color: #676767; TEST*/
    width: 100%;
    height: 1565px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.cont-works img {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    width: 100%;
    height: 100%;
    }
    
.cont-works img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
} 
#workd>.cont-works>.image{

}
.col1{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n1.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
    margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col2{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n1.jpg);
    margin: 5px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col3{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n1.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col4{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n1.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col5{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col6{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col7{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col8{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col9{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n2.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col10{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n2.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col11{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n2.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col12{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n2.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col13{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n1.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col14{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n2.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col15{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n2.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col16{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n1.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}
.col17{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-image: url(img/n1.jpg);
    margin: 2px;
    padding: 0;
    overflow:hidden;
        margin: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,10);
    object-fit: cover;
    background-size: cover;
}









/* CITATION */
/* CITATION */
/* CITATION */

#citation{
    background-image: url(img/reklama.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #676767;
    height: 300px;
}





/* NEW */
/* NEW */
/* NEW */

#new{
    background-color: #cdcdcd;
    background-image: url(img/bg-new.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,5);
}
#new>.cont-new{
    width: 940px;
    height: 1565px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
#new>h1{
    font-stretch:condensed;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-top: 50px;
}
.cont-new>h1{
    color: #252222;
    margin-top: 0;
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: bold;
    font-stretch:condensed;
    text-transform: uppercase;
}

/*cont-left*/

#cont-left{
    width: 460px;
    height: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}
#cont-left>.data-info-block>h5{
    width: auto;
    height: auto;
    background-color: #65ba99;
    margin: 0;
    padding: 5px;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    color: #fff;
    float: left;

}
#cont-left>.data-info-block>h4{
    width: auto;
    height: auto;
    padding: 5px;
    margin: 0;
    font-style: italic;
    font-size: 11px;
    display: inline-block;
    color: #e2534b;
    float: right;

}
#cont-left>.data-info-block>img{
float: right;
}
#cont-left>.headline-left-block>h2{
    color: #000;
    text-align: left;
    float: left;
    font-size: 14px;
    font-weight: bold;
}
#cont-left>.photo-block>img{
    margin-bottom: 15px;
    background-image: url(img/photo-cont-new.png);
}
#cont-left>.photo-block{
    position: inline-block;
    width: 460px;
    height: 200px;
    float: left;
    background-image: url(img/photo-cont-new.png);
    
}
.description-block{
    text-align: left;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    margin-top: 15px;
}
#read-more{
    text-decoration: none;
    color: #e2534b;
    float: right;
    position: inline-block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.photo-block img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    }
    
.photo-block img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
} 











/*cont-right*/

#cont-right{
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
}
#cont-right>.headline-right-1-block>h1{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-stretch:condensed;
    font-weight: bold;
    color: #65ba99;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0;
    padding-left: 5px;
}
.tags-info-block{
    float: left;
    width: 350px;
}
#cont-right>.tags-info-block>ul{
    text-align: left;
    margin: 0;
    padding: 0;
}
#cont-right>.tags-info-block>ul>li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}
#cont-right>.tags-info-block>ul>li>a{
color: #fff;
display: inline-block;
font-family: "Open Sans", sans-serif;
font-weight: normal;
font-size: 12px;
width: 50px;
height: auto;
background-color: #65ba99;
padding: 5px;
}
#cont-right>.tags-info-block>ul>li>a:hover{
    background-color: #e2534b;
}
#cont-right>.headline-right-2-block{
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}
#cont-right>.headline-right-2-block>h1{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 20px;
    /*font-style: italic; TEST*/ 
    font-weight: normal;
}

/* COMENT 1 */

.cont-right-block>.coment-1>img{
    display: inline-block;
    float: left;
}
.cont-right-block{
    display: inline-block;
    float: left;
    width: 350px;
}
.cont-right-block>.coment-1{
    display: inline-block;
    margin-top: 25px;
    margin-left: 5px;
}
.coment-text{
    display: inline-block;
    float: left;
    width: 250px;
}
.cont-right-block>.coment-1>.coment-text>p{
    display: inline;
    text-align: left;
    font-size: 12px;
    font-family: "Open Sans";
    float: left;
    margin-left: 20px;
    margin-top: 0;
    line-height: 1.2;
    margin-bottom: 5px;
    padding: 0;
    color: #fff;
}
.data-info-coment-1{
    float: left;
    display: inline-block;
    margin-left: 20px;
}
.cont-right-block>.coment-1>.data-info-coment-1>p{
    display: inline-block;
    text-align: left;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    float: left;
    margin-left: 20px;
    padding: 0;
    margin: 0;
    color: #e2534b;
}

/* COMENT 2*/

.cont-right-block>.coment-2>img{
    display: inline-block;
    float: left;
}
.cont-right-block{
    display: inline-block;
    float: left;
    width: 350px;
}
.cont-right-block>.coment-2{
    display: inline-block;
    margin-top: 25px;
    margin-left: 5px;
}
.coment-text{
    display: inline-block;
    float: left;
    width: 250px;
}
.cont-right-block>.coment-2>.coment-text>p{
    display: inline;
    text-align: left;
    font-size: 12px;
    font-family: "Open Sans";
    float: left;
    margin-left: 20px;
    margin-top: 0;
    line-height: 1.2;
    margin-bottom: 5px;
    padding: 0;
    color: #fff;
}
.data-info-coment-2{
    float: left;
    display: inline-block;
    margin-left: 20px;
}
.cont-right-block>.coment-2>.data-info-coment-2>p{
    display: inline-block;
    text-align: left;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    float: left;
    margin-left: 20px;
    padding: 0;
    margin: 0;
    color: #e2534b;
}

/* BIO BIO BIO */

#bio{
    background-color: #E2534B;
    background-image: url(img/bio.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: auto;
    padding: auto;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,5);
}
#bio>.cont-bio{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

#bio>.cont-bio>h1{
    color: #252222;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    font-stretch:condensed;
    text-transform: uppercase;
}

/* LEFT BIO */
.cont-bio{
    display: inline-block;
}
.cont-bio>.cont-left-bio{
    float: left;
    display: inline-block;
    width: 50%;
}
.cont-bio>.cont-left-bio>h1{
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
}
.cont-bio>.cont-left-bio>.img-bio{
    height: 230px;
    width: 100%;
    display: inline-block;
    background-image: url(img/bg-bio.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.cont-bio>.cont-left-bio>.img-bio>img{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.cont-bio>.cont-left-bio>.inst-bio{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.cont-bio>.cont-left-bio>.inst-bio>a{
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;  
    
}
.cont-bio>.cont-left-bio>.inst-bio>a>img{
    border: 2px solid #fff;
    border-radius: 50%;
}
.cont-bio>.cont-left-bio>.inst-bio>a>img:hover{
    border: 2px solid #59a386;
    border-radius: 50%;
    box-sizing: border-box;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}



/* RIGHT BIO */
.cont-bio>.cont-right-bio{
    width: 50%;
    float: right;
    display: inline-block;
}
.cont-bio>.cont-right-bio>h2{
    text-align: left;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.cont-bio>.cont-right-bio>h3{
    text-align: left;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #fff;
    
}


#footer{
    background-color: #59a386;
    background-image: url(img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 525px;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,5);
}
#footer>.contact{
    display: inline-block;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
#footer>.contact>h1{
    color: #fff;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    font-stretch:condensed;
    text-transform: uppercase;
    margin-top: 70px;
}
#footer>.contact>h2{
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 10px;
}
#footer>.contact>h3{
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    border: 4px solid #fff;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 100px;
    text-transform: uppercase;
}
#footer>.contact>h4{
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    margin-top: 45px;
    text-transform: uppercase;
}
#footer>.contact>h6{
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    margin-top: 100px;
}