body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    position: absolute;
    top: 50px;
}

#forma {
    width: 700px;
    height: 400px;
    margin: auto;
    background-color: rgb(63, 63, 63);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    /* Параметры тени */
    border-radius: 10px;
}

h1 {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding-bottom: 25px;
    text-align: center;
    padding-top: 25px;
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 36px;
    color: #fff;
}

#Dest {
    display: inline-block;
    padding: 10px 5px;
}

#inputusd {
    margin-left: 50px;
    width: 100px;
    padding: 10px 5px;
    
}

#outputusd,
#outputeur,
#outputuah,
#outputrub {
    display: inline-block;
    color: red;
    font-family: "Open Sans", sans-serif;
}

p {
    display: inline-block;
    padding-left: 50px;
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #fff;
}

#line-input {
    width: 100%;
    text-align: center;
}