html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {

	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #000;
	background: #fff;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {color: #000; text-decoration: none;}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}
.text-center {text-align: center;}

@media screen and (min-width: 1025px)
{
.center {
	width: 1230px;
	margin: 0 auto;
}
}

.center {
	/*width: 1230px;*/
	margin: 0 auto;
}

#wrapper{
	background-image: url(../img/logo.jpg);
	background-position: center;
	background-color: #555556;
	height: 700px;
	width: 100%;
}
.logo{
	padding-top: 40px;
}
.logo-mob{
	padding-top: 40px;
	display: none;
}
.header{
	padding: 0 5%;
	height: 100px;
	margin: auto;
}
.header ul{
	padding-top: 60px;
	margin-left: 10%;
}
.header li{
	list-style: none;
	float: left;
}
.header li + li{
	padding-left: 30px;
}
.header li a{
	font-family: [Montserrat];
	font-size: 14px;
	color: #fff;
	font-weight: normal;
}
.header li a:hover{
	color: #C7B299;
}
.cart{
	margin-top: 50px;
	overflow: hidden;
}
.search{
	margin-left: 25px;
	margin-top: 50px; 
}




.burger{
	overflow: hidden;
	margin-top: 50px;
	margin-left: 50px;  
	display: none;
}








.header-txt{
 		height: auto;
		text-align: center;
}

.header-txt h2{
	font-family: [Raleway];
	font-size: 36px;
	color: #fff;
	margin-top: 150px;
	margin-bottom: 20px;

}
.header-txt h1{
	font-family: [Raleway];
	font-size: 52px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 25px;
}
.header-txt p{
	font-family: [Raleway];
	font-size: 16px;
	color: #fff;
	width: 560px;
	margin: auto;
	margin-bottom: 100px;

}
.header-txt a{
	font-family: [Raleway];
	font-size: 14px;
	color: #fff;
	margin: auto;
	background-color: #998675;
	padding: 20px 40px;
	border-radius: 4px;
	box-shadow: 0px 5px 0px -1px #736357;
}
.header-txt a:hover{
	background-color: #B58675;
	box-shadow: 0px 5px 0px -1px #716156;
}












@media screen and (max-width: 950px) {


.burger{ 
	display: block;
}
.header ul{
	display: none;
}
}

















@media screen and (min-width: 800px) {

.header-txt a{
	font-family: [Raleway];
	font-size: 14px;
	color: #fff;
	margin: auto;
	background-color: #998675;
	padding: 15px 50px;
	border-radius: 4px;
	box-shadow: 0px 5px 0px -1px #736357;
}
.header li a{
	font-family: [Montserrat];
	font-size: 12px;
	color: #fff;
	font-weight: normal;
}
}
















@media screen and (max-width: 800px) {

.logo{
	display: none;
}

.logo-mob{
	padding-top: 40px;
	display: block;
}

.header-txt h2{
	font-family: [Raleway];
	font-size: 24px;
	color: #fff;
	margin-top: 150px;
	margin-bottom: 20px;
}
.header-txt h1{
	font-family: [Raleway];
	font-size: 32px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 25px;
}
.header-txt p{
	font-family: [Raleway];
	font-size: 12px;
	color: #fff;
	width: 560px;
	margin: auto;
	margin-bottom: 50px;
	width: 325px;
}
}











@media screen and (width: 360px) {

.logo{
	display: none;
}

.logo-mob{
	padding-top: 40px;
	display: block;
}

.header-txt h2{
	font-family: [Raleway];
	font-size: 16px;
	color: #fff;
	margin-top: 150px;
}
.header-txt h1{
	font-family: [Raleway];
	font-size: 24px;
	color: #fff;
	font-weight: bold;

}
.header-txt p{
	font-family: [Raleway];
	font-size: 8px;
	color: #fff;
	width: 560px;
	margin: auto;
	margin-bottom: 50px;
	width: 225px;
}
}


















