.main_3 {
    width: 100%;
    height: auto;
    display: block;
    background-color: #000;
}

.main_3_catalog {
    width: 100%;
    height: 100%;
}

.main_3_h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-top: 120px;
}

.lineBottom_main_3 {
    text-align: center;
    width: 120px;
    border-bottom: 1px solid #fff;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.main_3_cartItems {}

.main_3_top {}

.main_3_bot {}



.main_3_left_bottom_cart_1 {
    width: 15%;
    height: 250px;
    display: inline-block;
    margin: 25px;
    cursor: pointer;
    margin-bottom: 100px;
}

.main_3_cart_image_1:hover {
    background-color: #0000;
}

.main_3_cart_image_1 {
    z-index: 1;
    width: 100%;
    height: 80%;
    background-color: #191B1C;
    background-image: url(../img/620501.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main_3_cart_image_1:hover {}

.main_3_cart_image_p1 {
    display: block;
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-align: left;
    margin-top: 18px;
}

.main_3_cart_image_p2 {
    display: block;
    color: #fff;
    text-align: left;
    padding-top: 16px;
}