.main_2 {
    width: 100%;
    height: 600px;
    display: block;
}

.main_2_left {
    width: 45%;
    height: 100%;
    background-color: rgb(13, 80, 80);
    float: left;
    background-image: url(../img/Rectangle9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.main_2_right {
    width: 55%;
    height: 100%;
    background-color: #000;

}

.mainCollectionSector {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

.lineBottom_main_2 {
    text-align: center;
    width: 120px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mainCollectionSector_descr {
    max-width: 470px;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin-bottom: 70px;
}

.main_2_Button {
    display: block;
    width: 300px;
    padding: 15px 0 15px 0;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: none;
    border: 1px solid #fff;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.main_2_Button:hover {
    background-color: #fff;
    color: #000
}