footer {
    width: 100%;
    height: 400px;
    display: block;
    background-color: #0000;
    background-image: url(../img/Rectangle15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_left {
    width: 33%;
    height: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.footer_left_h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    display: block;
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-top: 80px;
}

.footer_left_descr {
    max-width: 350px;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin-top: 40px;
}

.footer_middle {
    width: 33%;
    height: 100%;
    float: left;
    /* margin-left: auto;
    margin-right: auto; */
    overflow: hidden;
    /* background-color: rgb(161, 56, 56); */
    /* padding-left: 20px; */
}

.footer_middle_h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    display: block;
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-top: 80px;
}

.footer_middle_items {
    margin-top: 40px;
    height: auto;
}

.footer_middle_items a {
    display: inline-block;
    text-transform: lowercase;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    padding: 20px;
    background-color: #0F0F0F;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
}

.footer_middle_items a:hover {
    background-color: #fff;
    color: #000;
}

.footer_right {
    width: 33%;
    height: 100%;
    float: left;
    /* margin-left: auto;
    margin-right: auto; */
    overflow: hidden;
    /* background-color: rgb(161, 56, 56); */
    /* padding-left: 20px; */
}

.footer_right_h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    display: block;
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-top: 80px;
}

.footer_right_descr {
    max-width: 350px;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin-top: 40px;
}

form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

input::-webkit-input-placeholder {
    color: #969696;
}

input {
    width: 60%;
    height: 42px;
    outline: none;
    background: #9e9c9c59;
    color: #fff;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 42px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background: #fff;
    color: #000;
}



















@media (max-width: 920px) {
    footer {
        display: none;
    }
}

@media (max-width: 700px) {
    footer {
        display: none;
    }
}