*,
p,
span,
a,
h1,
img,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
}



header {
    width: 100%;
    height: 80px;
    background-color: #0F0F0F;
    overflow: hidden;
}

.active {
    color: #fff;
    background-color: #1F1F1F;
}

header .container {
    vertical-align: middle;
    overflow: hidden;
}

.logo-block {
    float: left;
    display: inline-block;

}


.logo {
    font-family: "Post No Bills Jaffna";
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    padding: 13px 20px 13px 0;
}

nav {
    display: inline-block;
    float: right;
}

nav a {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #969696;
    text-decoration: none;
    margin: 0;
    text-align: center;
    padding: 31px 20px;
}

nav a:hover {
    color: #fff;
    background-color: #1F1F1F;
}

.nav-button {
    float: right;
    display: inline-block;
    padding: 27px 0 27px 20px;
}

.nav-button img {
    margin-left: 40px;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
}








/* MEDIA EQUAVE */




@media (max-width: 920px) {
    .container {
        width: 100%;
        height: auto;
    }

    .nav-button {
        display: none;
    }

    .logo-block {
        margin-left: 10%;
    }

    nav {
        margin-right: 10%;
    }


}




@media (max-width: 700px) {
    nav {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }

    .headDescriptions {
        display: none;
    }

    nav {
        float: none;
        display: none;
        margin-right: 0;
    }

    .logo-block {
        float: none;
        display: block;
        margin-left: 0;
    }

    nav a {
        display: block;
        width: 100%;
        background-color: #1F1F1F;
        text-align: center;
        padding-left: 0;
    }

    .logo {
        padding-right: 0;
    }

    header {
        width: 100%;
        height: 80px;
        background-color: #0F0F0F;
        overflow: visible;
    }

    /* скрываем чекбокс */
    #menu__toggle {
        opacity: 0;
    }

    .hamburger-menu {
        display: inline-block;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        position: fixed;
        top: 20px;
        right: 12%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }




    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }


    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }
}