
.container {
  width: 1349px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  
}


.cont-head {
      margin-left: 100px;
      margin-right: 100px;
}

.logo {
  margin: 20px 0 0 50px;
  float: left;
}



li {
  list-style-type: none;
}



body {
  margin: 0;
  padding: 0;
}


html {
  background-color: #2c2b30;
}

.header {
 height: 65px;
 width: auto;
 background-color: #201f27;
 padding: 0;
 margin: 0;

  
  


}
.nav{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 150px;
  font:bold 12pt/16pt "Open Sans", sans-serif;
  
  padding: 20px 100px 0 0;
  text-transform: uppercase;
}

ul.nav{
                padding: 0;
                float: right;
                padding: 0;
                list-style: none;

            }
.nav li {
                display: inline;
            }
ul.nav a {
                display: inline-block;
                padding:10px;
                text-decoration: none;
                color: #c7c7c7;
                text-align: center;

            }
ul.nav a:hover{
                color: #ffffff;
                
            }


#li3 {
  color: #fff;
  border-bottom: 4px solid #fff;
                padding-bottom: 15px;
}
.home {
 background-image: url(images/4.jpg);
 background-repeat: no-repeat;
 display: inline-block;
 width: 1349px;
 margin-right: auto;
 margin-left: auto;
 height: 840px;
 position: absolute;

}

.lb {
  border: 1px solid #3b3b3b;
  background-color: #3b3b3b;
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 750px;
  margin: 60px 0 16px 50px;
  opacity: 0.7;
  text-align: center;

}

.rb {
  border: 1px solid #e1e1e1;
  background-color: #e1e1e1;
  display: inline-block;
  position: absolute;
  width: 940px;
  height: 750px;
  margin: 60px 0 16px 370px;
  opacity: 0.5;

}

#shadow {
  box-shadow: 10px 0px 16px rgba(0,0,0,0.5);
  
}

.lbnav {
  
  
  display: inline-block;
  position: absolute;
  margin: 100px 0 0 80px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;

}

.lbnav a{
  list-style: none;
  text-decoration: none;
  color: #bebebe;
  font: bold 14pt/14pt "Open Sans", sans-serif;
}


.lbnav a:hover{
                color: #ffffff;
            }


















