* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color: #7c9ab7;
    font-weight: 600;
    text-decoration: none;
}
p {
    margin: 10px 0;
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}
table {
    width: 500px;
    text-align: left;
   
}
th {
    background-color: rgb(145, 145, 145);
    text-align: center;
}
tr {
    background-color: rgba(158, 248, 193, 0.685);
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
}
a.logout{
    text-align: right;
    color: #b7625c ;
}
.profilephp {
    display: inline-block;
    position: relative;
    z-index: 99999999999999;
}
.profile__img {
    display: flex;
    justify-content: left;
}
.profile__h2 {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.profile__link_email {
    text-decoration: none;
    color: #2516ecb2;
}
.profile__link_email:hover {
    text-decoration: none;
    color: #2416ecdc;
}
.profile__link_logout {
    text-decoration: none;
    color: #c42c2cf3;
}
.profile__link_logout:hover {
    text-decoration: none;
    color: #000000f3;
}
.cont-php {
    
}
.phpform {
    margin-right: 200px;
}
